/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-background-image: image-set(
    url('../images/cover-image-dark.webp') type('image/webp'),
    url('../images/cover-image-dark.png') type('image/png')
  );
  --main-background-color: #000028;
  --accent-color: #ff0070;
  --header-heading-color: #db00ff;
  --corner-color: #ff0070;
  --title-color: #000028;
  --main-text-color: #f1b2ce;
  --content-section-heading-color: #ff0070;
  --theme-buttons-color: #ff0070;
}

.theme-dark .header__decorative-element {
  display: block;
}