/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-background-image: image-set(
    url('../images/cover-image-light.webp') type('image/webp'),
    url('../images/cover-image-light.png') type('image/png')
  );
  --main-background-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --header-heading-color: #ffc2e6;
  --corner-color: #353430;
  --title-color: #353430;
  --main-text-color: #353430;
  --content-section-heading-color: #353430;
  --theme-buttons-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-background-image: image-set(
      url('../images/cover-image-light.webp') type('image/webp'),
      url('../images/cover-image-light.png') type('image/png')
    );
    --main-background-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --header-heading-color: #ffc2e6;
    --corner-color: #353430;
    --title-color: #353430;
    --main-text-color: #353430;
    --content-section-heading-color: #353430;
    --theme-buttons-color: #353430;
  }
} 

.theme-light .header__decorative-element {
  display: none;
}