/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: var(--main-indent);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__heading {
  justify-self: start;
  align-self: center;
  color: var(--header-heading-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--title-color);
  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--accent-color);
}

.header__title {
  justify-self: end;
  align-self: center;
  inline-size: max(355px, 47.7vw);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  color: var(--theme-buttons-color);
  font-weight: normal;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--theme-buttons-color);
  pointer-events: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid
    color-mix(in srgb, var(--theme-buttons-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:not(
    .header__theme-menu-button_active
  ):focus-visible {
  border-block-end: 1px solid var(--theme-buttons-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--main-indent);
  right: var(--main-indent);
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--main-indent);
  left: var(--main-indent);
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
}

.header__decorative-element {
  position: absolute;
  top: var(--main-indent);
  right: calc(var(--main-indent) + 9px);
  display: inline-block;
  color: var(--accent-color);
  font-weight: normal;
  font-size: var(--main-font-size);
  line-height: 25px;
}

.header__decorative-element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-main-sections);
  margin-block: var(--gap-between-page-parts);
  padding-inline: var(--main-indent);
}

.content-section {
  display: grid;
  gap: 20px;
}

.text-block {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-section__heading {
  color: var(--content-section-heading-color);
  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card__paragraph {
  color: var(--main-text-color);
  font-weight: normal;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card__paragraph-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.card__paragraph-link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.card__paragraph-link:focus {
  outline: none;
}

.card__paragraph-link:focus-within {
  outline: 1px solid var(--main-text-color);
}

.title-decor_normal {
  font-weight: normal;
}

.gallery__heading {
  margin-block-end: var(--main-indent);
}

.gallery__image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__list {
  display: grid;
  gap: var(--main-indent);
  list-style: none;
}

.gallery__list-item_sunset {
  aspect-ratio: 2.5 / 1;
}

.gallery__list-item_ice-cream {
  aspect-ratio: 1 / 1;
}

.gallery__list-item_tape {
  aspect-ratio: 1.5 / 1;
}

.gallery__list-item_books {
  aspect-ratio: 1 / 1;
}

.gallery__list-item_street {
  aspect-ratio: 1.5 / 1;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__heading {
  color: var(--header-heading-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__heading {
    margin-inline-start: calc(-1 * var(--main-indent));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section__heading {
    grid-column: 1;
  }

  .text-block {
    grid-column: 2 / 3;
  }

  .bad-habits .text-block {
    grid-column: span 2;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 96fr 115fr 160fr;
    aspect-ratio: 1 / 1.069;
  }

  .gallery__list-item {
    aspect-ratio: auto;
  }

  .gallery__list-item_sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__list-item_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__list-item_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: initial;
  }

  .bad-habits .text-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
